<html>
  <table>
	<tr>
    	<th>Last_Name</th>
        <th>First_Name</th>
        <th>Email Address</th>
        <th>Home Phone</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
    </tr>
      <% @queue.each do |attendee| %>
    <tr>
        <td><%=attendee.last_name%></td>
        <td><%=attendee.first_name%></td>
        <td><%=attendee.email%></td>
        <td><%=attendee.phone%></td>
        <td><%=attendee.street%></td>
        <td><%=attendee.city%></td>
        <td><%=attendee.state%></td>
        <td><%=attendee.zipcode%></td>
    </tr>
    <% end %>
</table>

</html>
